body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
}
header {
    background-color: #1c1c1c;
    padding: 10px;
    text-align: center;
}
.upgrade-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}
.item-box {
    text-align: center;
}
.item-box img {
    width: 150px;
}
.item-box button, .upgrade-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background: #444;
    color: white;
    border: none;
    border-radius: 5px;
}
.machine {
    text-align: center;
}
.machine .arrows {
    font-size: 24px;
    margin-bottom: 10px;
}
.inventory {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}
.section {
    margin: 10px;
}
.section input {
    padding: 10px;
    margin-top: 5px;
    width: 200px;
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #1c1c1c;
    flex-wrap: wrap;
}
.balance, .chat {
    font-size: 18px;
    margin: 5px;
}

.logo a{
    color:#58a6ff;font-size:1.5rem; text-decoration: none; gap: 30px;
}