body {
  background-color: #111;
  color: gold;
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 400px;
  margin: auto;
}

.case img {
  width: 100%;
  max-width: 250px;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 10px;
  background-color: gold;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.result {
  margin-top: 20px;
}


.logo a{
    color:#58a6ff;font-size:1.5rem; text-decoration: none; gap: 30px;
}